# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.pkl
*.db
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
